<div class="estampa" ng-show="estampa">

	<div class="nombre">

		<h4>{{ estampa.nombre }}</h4>

		<a class="btn btn-default" ng-click="agregar(estampa)">
			<span class="glyphicon glyphicon-plus"></span>
		</a>

	</div>

	<div class="contenido" ng-style="{ background: 'url({{ estampa.imagenes[0] }})' }" ng-click="mostrar(estampa)">
	</div>

	<div class="calificacion">

		<div id="siGusta" class="gusta">
			<button class="btn btn-default" ng-click="gusta(estampa, 'si')">
				<span class="glyphicon glyphicon-thumbs-down"></span>
			</button>
			<p>{{ estampa.siGusta }}</p>
		</div>

		<div id="noGusta" class="gusta">
			<p>{{ estampa.noGusta }}</p>
			<button class="btn btn-default" ng-click="gusta(estampa, 'no')">
				<span class="glyphicon glyphicon-thumbs-up"></span>      
			</button>
		</div>

	</div>

</div>