<!doctype html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8">
	<title>Estamparte</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/assets/css/index.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="src/app.js"></script>
	<script src="src/modules/estampa/estampa.js"></script>
	<script src="src/modules/barra/barra.js"></script>
</head>

<body>

	<barra></barra>

	<div class="container">

		<div class="row" id="titulo">
			<div class="col-md-5">
				<h2>Estampas</h2>
			</div>

			<div class="col-md-7">
				<div class="input-group" id="busqueda">
	  				<input type="text" class="form-control" placeholder="Ingresa que quieres buscar...">
	  				<div class="input-group-btn">
	    				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Busqueda avanzada <span class="caret"></span></button>
	    				<ul class="dropdown-menu" role="menu">
	      					<li><a href="#">Action</a></li>
	      					<li><a href="#">Another action</a></li>
	      					<li><a href="#">Something else here</a></li>
	      					<li class="divider"></li>
	      					<li><a href="#">Separated link</a></li>
	    				</ul>
	  				</div>
    			</div>
	    	</div>
		</div>

		<div class="row"><hr></div>

		<div class="row" id="estampas" ng-controller="estampaCtrl">
			<div class="row filaEstampas">
				<div class="col-md-3" ng-repeat="estampa in datos">
					<estampa></estampa>
				</div>
			</div>

			<div class="row filaEstampas">
				<div class="col-md-3" ng-repeat="estampa in datos">
					<estampa></estampa>
				</div>
			</div>

			<div class="row filaEstampas">
				<div class="col-md-3" ng-repeat="estampa in datos">
					<estampa></estampa>
				</div>
			</div>
		</div>

		<div class="row"><hr></div>

		<div class="row" id="copyright">
			<h5>
				<span class="glyphicon glyphicon-copyright-mark"></span>
				Copyright 2015, todos los derechos reservados.
			</h5>
		</div>

	</div>

	<!--
	<script>
		/* La estampa actualmente expandida */
		var estampaActual = null;

		/* Un contenedor para todas las estampas */
		var contenedor = document.createElement("div");
		contenedor.className = "container";
		document.body.appendChild(contenedor);

		/* Mantendremos el tamano de las estampas actual */
		var n = estampas.length;

		/* Proceso cada estampa de manera similar a las otras */
		var i = 0;
		while (i < n) {
			/* Las estampas se agrupan en filas de maximo 3 estampas */
			var fila = document.createElement("div");
			fila.className = "row";
			fila.style.marginTop = "29px";
			fila.style.marginBottom = "29px";

			/* El tope de estampas para la fila actual (max. 3) */
			var max = Math.min(3, n-i);

			/* Agregamos entonces, la cantidad maxima a la fila */
			for (var j = 0; j < max; j++) {
				var contieneEstampa = document.createElement("div");
				contieneEstampa.className = "col-md-%d".replace("%d", 12/max);

				var estampa = document.createElement("div");
				estampa.className = "estampa-col";
				estampa.style.border = "1px solid #DDD";
				estampa.style.height = "200px";
				estampa.onclick = function () {
					if (this.className === "estampa-col") {
						var nuevaFila = document.createElement("div");
						nuevaFila.className = "row";
						nuevaFila.style.marginTop = "29px";
						nuevaFila.style.marginBottom = "29px";

						var nuevaContieneEstampa = document.createElement("div");
						nuevaContieneEstampa.className = "col-md-12";

						var nuevaEstampa = this.cloneNode(true);
						nuevaEstampa.className = "estampa-exp";
						nuevaEstampa.onclick = this.onclick;

						var antiguaFila = this.parentNode.parentNode;

						var antiguaContieneEstampa = this.parentNode;

						antiguaFila.parentNode.insertBefore(nuevaFila, antiguaFila);

						nuevaFila.appendChild(nuevaContieneEstampa);
						nuevaContieneEstampa.appendChild(nuevaEstampa);

						antiguaFila.removeChild(antiguaContieneEstampa);

						var nuevoAncho = 12 / antiguaFila.children.length;
						for (var i = 0; i < antiguaFila.children.length; i++) {
							var actual = antiguaFila.children[i];
							actual.className = "col-md-%d".replace("%d", nuevoAncho);
						}

						estampaActual = nuevaEstampa;
					} else {
						var antiguaFila = this.parentNode.parentNode;

						var antiguaContieneEstampa = this.parentNode;

						var nuevaFila = antiguaFila.nextSibling;

						var nuevaContieneEstampa = document.createElement("div");

						var nuevaEstampa = this.cloneNode(true);
						nuevaEstampa.className = "estampa-col";

						nuevaContieneEstampa.appendChild(nuevaEstampa);
						nuevaFila.appendChild(nuevaContieneEstampa);

						var nuevoAncho = 12 / nuevaFila.children.length;
						for (var i = 0; i < nuevaFila.children.length; i++) {
							var actual = nuevaFila.children[i];
							actual.className = "col-md-%d".replace("%d", nuevoAncho);
						}

						antiguaFila.parentNode.removeChild(antiguaFila);

						estampaActual = null;
					}
				};

				var nombre = document.createElement("h3");
				nombre.innerHTML = "<b>Nombre:</b> %s";
				nombre.innerHTML = nombre.innerHTML.replace("%s", estampas[i+j].nombre);

				var autor = document.createElement("h4");
				autor.innerHTML = "<b>Autor:</b> %s";
				autor.innerHTML = autor.innerHTML.replace("%s", estampas[i+j].autor);

				var siGustan = document.createElement("h6");
				siGustan.innerHTML = "<b>Me gusta:</b> %s";
				siGustan.innerHTML = siGustan.innerHTML.replace("%s", estampas[i+j].siGusta);

				var noGustan = document.createElement("h6");
				noGustan.innerHTML = "<b>No me gusta:</b> %s";
				noGustan.innerHTML = noGustan.innerHTML.replace("%s", estampas[i+j].noGusta);

				estampa.appendChild(nombre);
				estampa.appendChild(autor);
				estampa.appendChild(siGustan);
				estampa.appendChild(noGustan);

				contieneEstampa.appendChild(estampa);
				fila.appendChild(contieneEstampa);
			}

			i += max;

			/* Agregamos la fila al contenedor */
			contenedor.appendChild(fila);
		}
	</script>
	-->
</body>
</html>