.DS_Store
/frontend/nbproject
/backend/Estamparte.logic/target/
/backend/Estamparte.service/target/
*.class
/Estamparte.web.test/nbproject/private/
/Estamparte.web.test/target/
/Estamparte.logic/target/
