<div ng-controller="estampaCtrl as estampaCtrl">
    <div ng-hide="estampaCtrl.editarEstampa">
        <button class="btn" ng-click="estampaCtrl.editarEstampaSeleccionada()">Editar Nueva Estampa</button>
    </div>
    <table class="table table-bordered" ng-show="estampaCtrl.editarEstampa">
        <tr>
            <!--Imagen de la estampa-->
            <td>
                <img ng-src="{{datoActual.imagenes[0] ? datoActual.imagenes[0] : 'src/assets/img/estampa.jpg' }}" alt="imagenestampa"/>
            </td>
            <td>
                <div ng-show="estampaCtrl.informacion">
                <h1>{{datoActual.nombre}}</h1>
                <h2> {{datoActual.autor}} </h2>
                <h3>$ {{datoActual.precio}}</h3>
                <button class="btn" ng-click="estampaCtrl.subirImagen()">Subir Imagenes</button>
                <button class="btn" ng-click="estampaCtrl.actualizarInformacion()">Guardar</button>
                </div>
                <div ng-hide="estampaCtrl.informacion">
                    <input type="text" placeholder="URL" ng-model="datoActual.url"/>
                    <br />
                    <button class="btn" ng-click="estampaCtrl.subirImg()">Subir</button>
                </div>

            </td>
        </tr>
    </table>
</div>
