body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.navbar {
	font-weight: 300;
	font-size: 1.12em;
}

.navbar-default{
	background: rgba(255, 255, 255, 0.86);
	border-color: #EEE;
}

.usuario {
	min-width: 200px;
}

.usuario .caret {
	margin-top: 9px;
	float: right;
}

.ok {
	float: right;
}

.menu-usuario {
	min-width: 200px;
}

.tooltip {
	min-width: 120px;
}

#inicio {
	background: #F7F7F7;
	color: #333333;
	padding-top: 70px;
	text-align: center;
}

#inicio h1 {
	margin-top: 20%;
}

#estampas {
	color: #353535;
	padding-top: 70px;
}

#busqueda {
	margin-top: 22px;
}

#tituloEstampas {
	margin-bottom: 50px;
}

#busqueda-avanzada {
	position: absolute;
	left: -1000px;
}

.filaEstampas {
	margin-bottom: 25px;
    overflow: scroll;
}

.estampa {
	border: 1px solid #DDD;
	border-radius: 3px;
}

.nombre {
	padding-left: 20px;
	padding-right: 20px;
}

.nombre h4 {
	margin-top: 14px;
	margin-bottom: 5px;
	text-align: left;
}

.nombre a {
	margin-top: 7px;
	text-align: right;
	float: right;
}

.nombre h4, .nombre a {
	display: inline-block;
}

.imagen {
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 160px;
	overflow: hidden;
}

.imagen img {
	text-align: center;
	margin: auto auto;
	width: 100%;
	height: 250px;
	margin: -40px 0 0 0;
}

.calificacion {
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.calificacion button {
	width: 47%;
	text-align: center;
}

#footer {
	text-align: center;
	background: #F7F7F7;
	color: #333333;
	margin-top: 70px;
	padding-top: 130px;
	padding-bottom: 130px;
}

#footer h4 {
	margin-top: 3%;
}

td {
    padding-left: 20px;
}
