<div id="camiseta">

        <div class="container">

        	<div class="row">

        	    <div class="col-md-12" id="tituloCamiseta" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 1, placeholder: 'keep'}">

                	<h2>Disena tu camiseta</h2>

            	</div>

            </div>

            <div class="row">

            	<div id="propiedades" class="col-md-3">

            		<h4>Selecciona como quieres tu camiseta</h4>

            		<form>

            			<div class="form-group">
            				<label for="estilo">Estilo</label>
            				<select class="form-control" id ="estilo" ng-model="estilo" ng-change="darEstilo()" ng-options="i.id as i.nombre for i in estilos"></select>
            			</div>

            			<div class="form-group">
            				<label for="talla">Talla</label>
            				<select class="form-control" id ="talla" ng-model="talla" ng-options="i.id as i.nombre for i in tallas"></select>
            			</div>

            			<div class="form-group">
            				<label for="color">Color</label>
            				<select class="form-control" id ="color" ng-model="color" ng-change="darEstilo()" ng-options="i.id as i.nombre for i in colores"></select>
            			</div>

                        <br>

                        <button id="acarrito" class="btn btn-default btn-lg" type="button">Agregar a mi carrito</button>

            		</form>

            	</div>

            	<div id="vistaprevia" ng-style="estilocamiseta" ng-init="darEstilo()" class="col-md-7">

                    <ul>

                        <li ng-attr-id="{{ 'estampa' + estampa.id }}" class="estampacamisa" ng-repeat="estampa in records" ng-style="estiloEstampa(estampa)">

                            <img ng-init="configurarBoton(estampa)" ng-attr-id="{{ 'estampaimg' + estampa.id }}" ng-style="estiloImagen(estampa)" ng-attr-src="{{ estampa.estampa.imagenes[0] }}">

                        </li>

                    </ul>

            	</div>

            </div>

        </div>

</div>
