<div id="estampas">

	<div class="container target">

		<div id="tituloEstampas" class="row">

			<div class="col-md-5">
				<h2>Estampas</h2>
			</div>

			<div class="col-md-7">

				<div class="input-group" id="busqueda">

					<input type="text" class="form-control" placeholder="Ingresa que quieres buscar...">

					<div class="input-group-btn">

						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="busquedaAvanzada()">Busqueda avanzada</button>

						<!-- <ul class="dropdown-menu" id="busqueda-avanzada"> -->
							<!-- TODO -->
						<!-- </ul> -->

					</div>

				</div>

			</div>

		</div>
		        
		<div>

			<div ng-repeat="estampa in records" ng-switch="$index % 3">

				<span ng-switch on="$index % 3">

					<span ng-switch-when="0">

						<div class="filaEstampas row">

							<div estampa-dir="records[$index+0]" agregar="agregar" gusta="gusta" ng-class="darAnchoEstampa($index)"></div>

							<div estampa-dir="records[$index+1]" agregar="agregar" gusta="gusta" ng-class="darAnchoEstampa($index)"></div>

							<div estampa-dir="records[$index+2]" agregar="agregar" gusta="gusta" ng-class="darAnchoEstampa($index)"></div>

						</div>

					</span>

				</span>

			</div>

		</div>

	</div>

</div>