<div id="carrito">

	<div id="comprarcarrito">

		<form id="formFormapagoCarrito" name="formularioComprar">

			<button id="botonComprar" class="btn btn-default col-md-4 formacomprar" ng-click="comprar()" ng-disabled="compraInvalida()">Comprar</button>

			<div ng-show="tipoUsuario() === 'comprador'" class="form-group col-md-8">

				<select id="formapagoCarrito" class="form-control" ng-options="(f.tipo + ' - ' + f.numeroTarjeta) for f in formas" ng-model="pago">
					<option value="" disabled selected>Forma de pago</option>
				</select>

			</div>

			<div ng-show="tipoUsuario() === null" class="form-group col-md-8">

				<p style="text-align: center">Para comprar debes estar registrado</p>

			</div>

		</form>

	</div>

	<ul>

		<li class="miestampa" ng-repeat="camisa in records">

			<!-- <img class="img-circle" ng-src="{{ estampa.imagenes[0] }}"> -->

			<p>
				{{ camisa.nombre }}
				<br>
				Precio: {{ camisa.precio | currency }}
				<br>
				Cantidad: 
			</p>

			<input id="cantidadcamisa" class="cantidadcamisa" type="number" ng-model="camisa.cantidad" ng-change="cambiarCantidad(camisa)">

			<button id="botonQuitarCamisa" class="btn btn-default acamisa" ng-click="quitar(camisa)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>

			<button id="botonCamisaACamisa" class="btn btn-default acamisa" ng-click="acamisa(camisa)">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>

			<hr>

		</li>

	</ul>

</div>