<div id="misestampas">

	<ul>

		<li class="miestampa" ng-repeat="estampa in misestampasCtrl.misEstampasRecords.basicRecords">

			<img class="img-circle" ng-src="{{ estampa.imagenes[0] }}">

			<p>{{ estampa.nombre }}</p>

			<button id="botonEliminarEstampaMisEstampas" class="btn btn-default quitar" ng-click="misestampasCtrl.removeMisEstampas(estampa)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>

			<button id="botonEstapaMisEstampasACamisa" class="btn btn-default acamisa" ng-click="misestampasCtrl.addEstampaCamiseta(estampa)">
				<span class="glyphicon glyphicon-plus"></span>
			</button>

			<hr>

		</li>

	</ul>

</div>