<div id="factura">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/factura">Factura</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="country-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="facturaCtrl.editMode" ng-click="facturaCtrl.crear()"><span class="glyphicon glyphicon-plus"></span> Create</button>
					<button class="btn btn-default navbar-btn" ng-hide="facturaCtrl.editMode" ng-click="facturaCtrl.consultarDatos()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
					<button class="btn btn-default navbar-btn" ng-show="facturaCtrl.editMode" ng-click="facturaCtrl.guardar()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
					<button class="btn btn-default navbar-btn" ng-show="facturaCtrl.editMode" ng-click="facturaCtrl.cancelar()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="facturaCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
                                        <th>Tipo</th>
                                        <th>Número de Tarjeta</th>
                                        <th>Fecha de Vencimiento</th>
                                        <th>Código de Seguridad</th>
                                        <th>Dirección de Correspondencia</th>
					<th>Nombre Comprador</th> 
					<th>Fecha de Compra</th>
                                        <th>ID_Comprador</th>
                                        <th>ID_Factura</th>
					<th>Articulos</th>
                                        <th>MontoTotal</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dato in datos">
                                        <td>{{dato.tipo}}</td>
                                        <td>{{dato.numTarjeta}}</td>
                                        <td>{{dato.fechaVencimiento}}</td>
                                        <td>{{dato.codigoSeguridad}}</td>
                                        <td>{{dato.direCorrespondencia}}</td>
					<td>{{dato.nombre}}</td>
					<td>{{dato.fecha}}</td>
                                        <td>{{dato.idcomprador}}</td>
                                        <td>{{dato.idfactura}}</td>
					<td>{{dato.articulos}}</td>
                                        <td>{{dato.montototal}}</td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="facturaCtrl.editar(dato)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
						<button class="btn btn-default btn-sm" ng-click="facturaCtrl.eliminarDato(dato)"><span class="glyphicon glyphicon-minus"></span> Delete</button>

                                        </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="facturaCtrl.editMode">
		<form name="countryForm" role="form">
			<input id="name" class="form-control" type="hidden" ng-model="datoActual.id"/>
                       <div class="form-group">
                            <h1><label for="formadepago">FormaDePago</label></h1>
			</div>
                        <div class="form-group">
				<label for="tipo">Tipo</label>
				<input id="tipoForma" class="form-control" type="text" ng-model="datoActual.tipo"/>
			</div>
                        <div class="form-group">
				<label for="munTarjeta">Número de tarjeta</label>
				<input id="numTarjetForma" class="form-control" type="number" ng-model="datoActual.numTarjeta"/>
			</div>
                        <div class="form-group">
				<label for="fechaVencimiento">Fecha de Vencimineto</label>
				<input id="fechaVencimientoForma" class="form-control" type="date" ng-model="datoActual.fechaVencimiento"/>
			</div>
                        <div class="form-group">
				<label for="codigoSeguridad">Código de Seguridad</label>
				<input id="codigoSeguridadForma" class="form-control" type="password" ng-model="datoActual.codigoSeguridad"/>
			</div>
                        <div class="form-group">
				<label for="direCorrespondencia">Dirección de Correspondencia</label>
				<input id="direCorrespondenciaForma" class="form-control" type="text" ng-model="datoActual.direCorrespondencia"/>
			</div>
                        <div class="form-group">
                            <h1><label for="datosCompra">Datos de compra</label></h1>
			</div>
			<div class="form-group">
				<label for="nombre">Nombre Comprador</label>
				<input id="name" class="form-control" type="text" ng-model="datoActual.nombre"/>
			</div>
			<div class="form-group">
				<label for="fecha">Fecha de Compra</label>
				<input id="fecha" class="form-control" type="date" ng-model="datoActual.fecha"/>
			</div>		
                        <div class="form-group">
				<label for="idcomprador">IDComprador</label>
				<input id="idcomprador" class="form-control" type="text" ng-model="datoActual.idcomprador"/>
			</div>
                        <div class="form-group">
				<label for="idfactura">IDFactura</label>
				<input id="idfactura" class="form-control" type="text" ng-model="datoActual.idfactura"/>
			</div>   
                        <div class="form-group">
				<label for="articulos">Articulos</label>
				<input id="articulos" class="form-control" type="text" ng-model="datoActual.articulos"/>
			</div>   
                        <div class="form-group">
				<label for="montototal">MontoTotal</label>
				<input id="montototal" class="form-control" type="number" ng-model="datoActual.montototal"/>
			</div>
		</form>
	</div>
</div>

