<div id="formapago">

	<div class="botones">

		<button type="button" ng-click="cerrar()" class="btn btn-defaut">
			<span class="glyphicon glyphicon-remove"></span>
		</button>

		<button type="button" ng-click="crear()" class="btn btn-defaut">
			<span class="glyphicon glyphicon-plus"></span>
		</button>

	</div>

	<ul>

		<li class="miestampa" ng-show="estaCreando">

			<div id="nuevaformaboton">

				<button type="button" ng-click="cerrarCrear()" class="btn btn-defaut formaform">
					<span class="glyphicon glyphicon-remove"></span>
				</button>

				<h5>Ingresar nueva forma</h5>

			</div>

			<form name="formaForm" novalidate>

				<div class="form-group">
					<input id="tipoForma" type="text" class="form-control" placeholder="Tipo de tarjeta" ng-model="currentRecord.tipo" required>
				</div>

				<div class="form-group">
					<input id="tipoForma" type="text" class="form-control" placeholder="Numero de tarjeta" ng-model="currentRecord.numeroTarjeta" required>
				</div>

				<div class="form-group">
					<input id="tipoForma" type="text" class="form-control" placeholder="Fecha de vencimiento" ng-model="currentRecord.fechaVencimiento" required>
				</div>

				<button type="button" ng-click="agregar()" ng-disabled="!formaForm.$valid" class="btn btn-defaut formaform">
					Agregar forma
				</button>

			</form>

			<hr>

		</li>

		<li class="miestampa" ng-repeat="forma in records">

			<p>
				{{ forma.tipo }}
				<br>
				{{ forma.numeroTarjeta }}
				<br>
				{{ forma.fechaVencimiento }}
			</p>

			<button type="button" ng-click="quitar(forma)" class="btn btn-defaut">
				<span class="glyphicon glyphicon-remove"></span>
			</button>

			<hr>

		</li>

	</ul>

</div>