<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="formaPagoCtrl as formaPagoCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Forma de Pago</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="country-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="formaPagoCtrl.editMode" ng-click="formaPagoCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
					<button class="btn btn-default navbar-btn" ng-hide="formaPagoCtrl.editMode" ng-click="formaPagoCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
					<button class="btn btn-default navbar-btn" ng-hide="formaPagoCtrl.editMode" ng-click="formaPagoCtrl.createRecord()"><span class="glyphicon glyphicon-usd"></span> Comprar</button>
                                        <button class="btn btn-default navbar-btn" ng-show="formaPagoCtrl.editMode" ng-click="formaPagoCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
					<button class="btn btn-default navbar-btn" ng-show="formaPagoCtrl.editMode" ng-click="formaPagoCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="formaPagoCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
                                        <th>Seleccionar</th>
					<th>Tipo</th>
					<th>Número de Tarjeta</th>
					<th>Fecha de Vencimiento</th>
					<th>Código de Seguridad</th>
                                        <th>Dirección de Correspondencia</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
                                        <td>
                                            <form action="">
                                            <input type="radio" name="formaPago" value={{record.tipo}}><br>
                                            </form>
                                        </td>
					<td>{{record.tipo}}</td>
					<td>{{record.numTarjeta}}</td>
					<td>{{record.fechaVenc}}</td>
                                        <td>{{"***"}}</td>
                                        <td>{{record.dirCorr}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="formaPagoCtrl.editMode">
		<form name="countryForm" role="form">
			<input id="tipo" class="form-control" type="hidden" ng-model="currentRecord.id"/>
			<div class="form-group">
				<label for="tipo">Tipo</label>
				<input id="tipo" class="form-control" type="text" ng-model="currentRecord.tipo"/>
			</div>
			<div class="form-group">
				<label for="numTarjeta">Número de Tarjeta</label>
				<input id="numTarjeta" class="form-control" type="number" ng-model="currentRecord.numTarjeta"/>
			</div>
			<div class="form-group">
				<label for="fechaVenc">Fecha de Vencimiento</label>
                                <input id="fechaVenc" class="form-control" type="date" ng-model="currentRecord.fechaVenc"/>
			</div>
                        <div class="form-group">
				<label for="codSeg">Código de Seguridad</label>
                                <input id="codSeg" class="form-control" type="password" ng-model="currentRecord.codSeg"/>
			</div>
                        <div class="form-group">
				<label for="dirCorr">Dirección de Correspondencia</label>
				<input id="dirCorr" class="form-control" type="text" ng-model="currentRecord.dirCorr"/>
			</div>
		</form>
	</div>
</div>