<div class="estampa" ng-init="darImagen(estampa)">

	<div class="nombre">

		<h4>{{ estampa.nombre }}</h4>

                <a class="btn btn-default" title="Agregar a camiseta" ng-click="estampaCtrl.agregarEstampaACamiseta(estampa)">
			<span class="glyphicon glyphicon-plus"></span>
		</a>

	</div>

	<div class="contenido">

		<!-- <a class="btn btn-default" ng-click="estampaCtrl.eliminarDato(estampa); estampaCtrl.consultarDatos()">
			<span class="glyphicon glyphicon-remove"></span>
		</a>

		<div class="calificacion">

			<button class="btn btn-default" ng-click="estampaCtrl.editarDato(estampa); estampaCtrl.registrarCalificacion(1)" data-toggle="tooltip" data-placement="top" title="{{ estampa.siGusta }}">
				<span class="glyphicon glyphicon-thumbs-down"></span>
			</button>

			<button class="btn btn-default" ng-click="estampaCtrl.editarDato(estampa); estampaCtrl.registrarCalificacion(0)" data-toggle="tooltip" data-placement="top" title="{{ estampa.noGusta }}">
				<span class="glyphicon glyphicon-thumbs-up"></span>      
			</button>

		</div> -->

	</div>

</div>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
