<div class="estampa">

	<div class="nombre">

		<a class="btn btn-default" ng-click="estampaCtrl.eliminarDato(estampa); estampaCtrl.consultarDatos()">
			<span class="glyphicon glyphicon-remove"></span>
		</a>

		<h4>
			{{ estampa.nombre }}
		</h4>

		<a class="btn btn-default">
			<span class="glyphicon glyphicon-shopping-cart"></span>
		</a>

	</div>

	<div class="imagen">
		<img ng-src="{{estampa.imagenes[0] ? estampa.imagenes[0]: 'src/assets/img/estampa.jpg'}}" alt="imagenestampa">
	</div>

	<div class="calificacion">

		<button class="btn btn-default" ng-click="estampaCtrl.editarDato(estampa); estampaCtrl.registrarCalificacion(1)">
			<span class="glyphicon glyphicon-thumbs-down">{{ estampa.siGusta }}</span>
		</button>

		<button class="btn btn-default" ng-click="estampaCtrl.editarDato(estampa); estampaCtrl.registrarCalificacion(0)">
			<span class="glyphicon glyphicon-thumbs-up" >{{ estampa.noGusta }}</span>      
		</button>

	</div>

</div>