<div id="camiseta">

        <div class="container">

        	<div class="row">

        	    <div class="col-md-12" id="tituloCamiseta">

                	<h2>Disena tu camiseta</h2>

            	</div>

            </div>

            <div class="row">

            	<div id="propiedades" class="col-md-3">

            		<form name="camisaForm" novalidate>

                        <div class="form-group">
                            <label for="estilo">Nombre</label>
                            <input class="form-control" id ="nombre" ng-model="nombre" required>
                        </div>

            			<div class="form-group">
            				<label for="estilo">Estilo</label>
            				<select class="form-control" id ="estilo" ng-model="estilo" ng-change="darEstilo()" ng-options="i.id as i.nombre for i in estilos" required></select>
            			</div>

            			<div class="form-group">
            				<label for="talla">Talla</label>
            				<select class="form-control" id ="talla" ng-model="talla" ng-change="darEstilo()" ng-options="i.id as i.nombre for i in tallas" required></select>
            			</div>

            			<div class="form-group">
            				<label for="color">Color</label>
            				<select class="form-control" id ="color" ng-model="color" ng-change="darEstilo()" ng-options="i.id as i.nombre for i in colores" required></select>
            			</div>

                        <div class="form-group">
                            <label>Precio: {{ darPrecio() | currency }}</label>
                        </div>

                        <br>

                        <button id="acarrito" class="btn btn-default btn-lg" type="button" ng-click="acarrito()" ng-disabled="!camisaForm.$valid || darPrecio() == 0">Agregar a mi carrito</button>

            		</form>

            	</div>

            	<div id="vistaprevia" ng-style="estilocamiseta" ng-init="darEstilo()" class="col-md-7">

                    <ul>

                        <li ng-attr-id="{{ 'estampa' + estampa.id }}" class="estampacamisa" ng-repeat="estampa in estampas" ng-style="estiloEstampa(estampa)">

                            <img ng-init="configurarBoton(estampa)" ng-attr-id="{{ 'estampaimg' + estampa.id }}" ng-style="estiloImagen(estampa)" ng-attr-src="{{ estampa.estampa.imagenes[0] }}">

                        </li>

                    </ul>

            	</div>

            </div>

        </div>

</div>
